{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{{ title }}</title>

        <!--<link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/img/favicon.ico' %}">
        <link rel="icon" type="image/png" href="{% static 'assets/img/favicon.ico' %}">-->
        <link rel="icon" type="image/png" href="{% static 'assets/img/ml_favicon_2.png' %}"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />

        <!--     Fonts and icons     -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />

        <!-- CSS Files -->
        <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" />
        <link href="{% static 'assets/css/paper-dashboard.css' %}" rel="stylesheet" />

        <!-- CSS Just for demo purpose, don't include it in your project -->
        <link href="{% static 'assets/demo/demo.css' %}" rel="stylesheet" />
    </head>

    <body>
        <div class="wrapper">
            <div class="main-panel">
                <div class="content">
                    <div class="row justify-content-center">
                        <div class="col-md-3">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="card-body text-center">
                                            <a href="https://www.combine-group.org/" target="_blank">
                                                <img src="{% static 'assets/img/combine_logo.png' %}" width="100px" height="75px"/>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="card-body text-center">
                                            <a href="https://www.unict.it/" target="_blank">
                                                <img src="{% static 'assets/img/unict_logo.png' %}" width="125px" height="75px"/>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="card-body text-center">
                                            <a href="https://greta.maurizionava.it/" target="_blank">
                                                <img src="{% static 'assets/img/greta_logo.png' %}" width="125px" height="75px"/>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="card">
                                <div class="card-header font-weight-bold">
                                    <h5 class="card-title">Evaluation of Word embedding models to extract and predict surgical data in breast cancer</h5>
                                    <h6><a href="#">DOI: XXXXXXX</a></h6>
                                </div>
                                <div class="card-body text-justify">
                                    Decisions in healthcare are usually relying on the goodness and completeness of data,
                                    that could be coupled with heuristics with the aim to improve the decision process itself.
                                    However, this often an incomplete process. Structured interviews denominated Delphi surveys investigate experts'
                                    opinions and solve by consensus complex matters like those underlying surgical decision-making.<br />
                                    Natural Language Processing (NLP) is a field of study that combines computer science, artificial intelligence, and linguistics.
                                    NLP can be then used as a valuable help in building a correct context in surgical data, contributing in
                                    the amelioration of the surgical decision-making.<br />
                                    We applied NLP coupled with machine learning approaches to predict the context (words)
                                    owning high accuracy from the words that are nearest to Delphi surveys, used as input.<br />
                                    The proposed methodology has allowed to increase the usefulness of Delphi surveys favouring the extraction
                                    of keywords that can represent a specific clinical context.
                                    This permits the characterization of the clinical context suggesting words for the evaluation process of the data.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                             <div class="row">
                                <div class="col-md-2">
                                    <div class="card card-user">
                                        <div class="card-header">
                                            <h5 class="card-title font-weight-bold">Models</h5>
                                        </div>
                                        <div class="card-body">
                                            Select one of the available models
                                            <hr />
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <select class="form-control" id="model">
                                                            <optgroup label="Our models">
                                                                <option value="0">ETHOS (2.2 Bilions tokens, 300d vectors)</option>
                                                            </optgroup>
                                                            <!--<optgroup label="Other models">
                                                                <option value="1">PubMed+PMC+Wikipedia (5.5 Milions tokens, 200d vectors)</option>
                                                                <option value="2">GloVe Wikipedia+Gigaword (6 Bilions tokens, 100d vectors)</option>
                                                                <option value="3">fastText WikiNews (16 Bilions tokens, 300d vectors)</option>
                                                            </optgroup>-->
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card card-user">
                                        <div class="card-header">
                                            <h5 class="card-title font-weight-bold">Nearest words</h5>
                                        </div>
                                        <div class="card-body">
                                            Given a word, this demo shows a list of other words that are similar to it, i.e. nearby in the vector space.
                                            <hr />
                                            <div class="row">
                                                <div class="col-md-9">
                                                    <div class="form-group">
                                                        <label class="text-secondary font-weight-bold">
                                                            Positive words<span class="text-danger font-weight-bold">*</span>
                                                        </label>
                                                        <input type="text" id="NW_positive_words" class="form-control" placeholder="Type in a word" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label class="text-secondary font-weight-bold">#Words</label>
                                                        <select class="form-control" id="NW_topn">
                                                            <option value="5">5</option>
                                                            <option value="10" selected>10</option>
                                                            <option value="25">25</option>
                                                            <option value="50">50</option>
                                                            <option value="100">100</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-9">
                                                    <div class="form-group">
                                                        <label class="text-secondary font-weight-bold">
                                                            Negative words<span class="text-danger font-weight-bold">*</span>
                                                        </label>
                                                        <input type="text" id="NW_negative_words" class="form-control" placeholder="Type in a word" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="update ml-auto mr-auto">
                                                    <button id="NW_demo" class="btn btn-danger btn-round">Demo</button>
                                                    <button id="NW_show" class="btn btn-primary btn-round">Show nearest</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer text-muted">
                                            <span class="text-danger font-weight-bold"> * Comma separated – (i.e.: Word1,Word2,...,Wordn)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card card-user">
                                        <div class="card-header">
                                            <h5 class="card-title font-weight-bold">Similarity of two words</h5>
                                        </div>
                                        <div class="card-body">
                                            Given two or more words, it returns their similarity between 0 and 1.
                                            <hr />
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="text-secondary font-weight-bold">Words 1<span class="text-danger font-weight-bold">*</span></label>
                                                        <input type="text" id="SW_words_1" class="form-control" placeholder="Type in a word" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="text-secondary font-weight-bold">Words 2<span class="text-danger font-weight-bold">*</span></label>
                                                        <input type="text" id="SW_words_2" class="form-control" placeholder="Type in a word" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="update ml-auto mr-auto">
                                                    <button id="SW_demo" class="btn btn-danger btn-round">Demo</button>
                                                    <button id="SW_show" type="submit" class="btn btn-primary btn-round">Show similarity</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer text-muted">
                                            <span class="text-danger font-weight-bold"> * Comma separated – (i.e.: Word1,Word2,...,Wordn)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card card-user">
                                        <div class="card-header">
                                            <h5 class="card-title font-weight-bold">Word analogy</h5>
                                        </div>
                                        <div class="card-body">
                                                This method computes word analogy: the first word is to the second word like the third word is to which word?
                                                Try for example (tumor - cancer - woman) which would expect to return: breast, risk and more.
                                            <hr />
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="text-secondary font-weight-bold">Word 1</label>
                                                        <input type="text" id="WA_word1" class="form-control" placeholder="Type in a word" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="text-secondary font-weight-bold">Word 2</label>
                                                        <input type="text" id="WA_word2" class="form-control" placeholder="Type in a word" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="text-secondary font-weight-bold">Word 3</label>
                                                        <input type="text" id="WA_word3" class="form-control" placeholder="Type in a word" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label class="text-secondary font-weight-bold">#Words</label>
                                                        <select class="form-control" id="WA_topn">
                                                            <option value="5">5</option>
                                                            <option value="10" selected>10</option>
                                                            <option value="25">25</option>
                                                            <option value="50">50</option>
                                                            <option value="100">100</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="update ml-auto mr-auto">
                                                    <button id="WA_demo" class="btn btn-danger btn-round">Demo</button>
                                                    <button id="WA_show" type="submit" class="btn btn-primary btn-round">Show analogy</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                             </div>
                        </div>
                    </div>
                    <div class="row invisible">
                        <div class="col-md-6">
                            <div class="card card-user">
                                <div class="card-header">
                                    <h4 class="card-title">Results</h4>
                                </div>
                                <div class="card-body" id="results_analysis" style="overflow: scroll; height: 500px;">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="footer footer-black footer-white">
                    <div class="container-fluid">
                        <div class="row">
                            <nav class="footer-nav">
                                <ul>
                                    <li>
                                        <a href="https://github.com/Pex2892/GRETANet" target="_blank">
                                            <span class="text-white font-weight-bold">
                                                <i class="fab fa-github"></i> GitHub
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://greta.maurizionava.it/" target="_blank">
                                            <span class="text-white font-weight-bold">
                                                <i class="fas fa-project-diagram"></i> G.R.E.T.A. Project
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://github.com/Pex2892/GRETANet/issues" target="_blank">
                                            <span class="text-white font-weight-bold">
                                                <i class="fas fa-envelope"></i> Support
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                            <div class="credits ml-auto">
                                <span class="copyright text-white font-weight-bold">
                                    <i class="far fa-copyright"></i> Copyright 2021; <i class="fas fa-user"></i> <a href="https://pex2892.github.io/#about" target="_blank">Giuseppe Sgroi</a> – <i class="fas fa-users"></i> <a href="https://www.combine-group.org/" target="_blank">COMBINE Group</a> – <i class="fas fa-university"></i> <a href="https://www.unict.it/" target="_blank">University of Catania</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>

        <!--   Core JS Files   -->
        <script src="{% static 'assets/js/core/jquery.min.js' %}"></script>
        <script src="{% static 'assets/js/core/popper.min.js' %}"></script>
        <script src="{% static 'assets/js/core/bootstrap.min.js' %}"></script>
        <script src="{% static 'assets/js/plugins/perfect-scrollbar.jquery.min.js' %}"></script>
        <script defer src="{% static 'assets/js/fontawesome_v5.15.3_all.min.js' %}"></script>

        <!-- Chart JS -->
        <script src="{% static 'assets/js/plugins/chartjs.min.js' %}"></script>
        <!--  Notifications Plugin    -->
        <script src="{% static 'assets/js/plugins/bootstrap-notify.js' %}"></script>
        <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
        <script src="{% static 'assets/demo/demo.js' %}"></script>

        <!-- SweetAlert2 -->
        <script src="{% static 'assets/js/sweetalert2_v11.0.18.all.min.js' %}" type="text/javascript"></script>

        <!-- Functions of this page -->
        <script>
            var url_run_nearest_words = "{% url 'run-nearest-words' %}";
            var url_run_similarity_words = "{% url 'run-similarity-words' %}";
            var url_run_word_analogy = "{% url 'run-word-analogy' %}";
            var csrf_token = "{{ csrf_token }}";
        </script>
        <script src="{% static 'assets/js/utility.js' %}" type="text/javascript"></script>
    </body>
</html>